<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <ul class="navbar-nav">
        <li class="navbar-brand" href="/">Intelligentsia
            <img src="https://i.imgur.com/KJY9UHF.png" height="35" width="auto">
        </li>
    </ul>
</nav>
<div class="d-flex align-items-center justify-content-center emblem">
    <img src="https://i.imgur.com/3biQhjK.png">
</div>
<div class="flex-row d-flex justify-content-between">
    <div class="col-6 justify-content-start">
        <form class="d-flex flex-column align-items-center justify-content-center signup" method="post" action="/store">
            <div class="col-5">
                    <input type="text" class="form-control" id="storename" placeholder="Store Name">
            </div>
            <div class="col-5">    
                    <input type="text" class="form-control" id="address" placeholder="Address">
            </div>
            <div class="col-5">
                    <input type="text" class="form-control " id="phonenumber" placeholder="Phone Number">
            </div>
            <div class="col-5">
                    <input type="text" class="form-control " id="prizecode" placeholder="Prize Code">
            </div>
            <button type="submit" class="btn btn-primary col-1">Submit</button>
        </form>
    </div>
    <div class="col-6 justify-content-end">
        <h3>Cafes</h3>
        <div class="storelist">
                <% var storeList = './store' %>
                <% axios.get(storeList) %>
                    <% .then(res => { %>
                        <% console.log(res.data) %>
                        <!-- <% var stores = res.data.features %>
                        <% stores.forEach(i => { %>
                            <%  let title = document.createElement('p') %>
                            <% titlesrc = i.properties.title %>
                            <% earthLoc.appendChild(title) %>
                            <% title.innerHTML = titlesrc %> -->
                            hihi
        </div>
    </div>
</div>