<nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <ul class="navbar-nav">
            <li class="navbar-brand" href="/">Intelligentsia
                <img src="https://i.imgur.com/KJY9UHF.png" height="35" width="auto">
            </li>
        </ul>
    </nav>