<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <ul class="navbar-nav">
        <li class="navbar-brand" href="/">Intelligentsia
            <img src="https://i.imgur.com/KJY9UHF.png" height="35" width="auto">
        </li>
    </ul>
</nav>
<div class="d-flex align-items-center justify-content-center emblem">
        <img src="https://i.imgur.com/3biQhjK.png">
</div>
<h1>Sign In</h1>
<form class="d-flex flex-column align-items-center justify-content-center signup" method="post" action="/admin">
    <div class="col-5">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="col-5">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary col-3">Submit</button>
</form>