<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <ul class="navbar-nav">
        <li class="navbar-brand" href="/">Intelligentsia
            <img src="https://i.imgur.com/KJY9UHF.png" height="35" width="auto">
        </li>
    </ul>
</nav>
<form class="d-flex flex-column align-items-center justify-content-center signup">
    <div class="col-3">
        <div class="">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
        </div>
    </div>
    <div class="col-3">
        <div class="">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control " id="exampleInputPassword1" placeholder="Password">
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control " id="exampleInputPassword1" placeholder="Password">
        </div>
    </div>
    <button type="submit" class="btn btn-primary col-1">Submit</button>
</form>