<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <LINK REL=StyleSheet HREF="../../main.css" TYPE="text/css" MEDIA=screen>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,400,600,700|Open+Sans" rel="stylesheet">
    <!-- <script defer src="js/main.js"></script> -->
    <title>Intelligentsia</title>
    <link rel="icon" type="image/png" href="https://i.imgur.com/dUXTZZ8.png"/>
</head>
<body>
<%- body %>
</body>
</html>
