body {
    background-color: red;
}
.col-5 {
    margin: .5em 0;
}
h1 {
    text-align: center;
    text-decoration: underline;
}
h3 {
    text-align: center;
}
.emblem {
    height: 300px;
}
.storetop {
    margin-top: .5em;
}
p {
    margin:0;
}